.header {
   display: flex;
   justify-content: space-between; 
}
.header-ttl {
    font: bold;

}
.header-nav-list {
    display: flex;
    justify-content: flex-end;
}
.list1 {
    list-style: none;
    padding-right: 30px;
}
.list2 {
    list-style: none;
    padding-right: 30px;
}
.list3 {
    list-style: none;
    padding-right: 30px;
}
.list4 {
    list-style: none;
}
.link1 {
    text-decoration: none;
}
.link2 {
    text-decoration: none;
}
.link3 {
    text-decoration: none;
}
.link4 {
    text-decoration: none;
}
.content {
    position: relative;
    top: 100px;

}
.content-ttl {
    position: absolute;
    top: 230px;
    font-size: 70px;
    z-index: 20;
}
.content-img {
    height: 60vh;
    width: 58vw;
    position: absolute;
    top: 30px;
    left: 40%;
    z-index: 10;
}
.content-blue {
    background-color: blue;
    padding-bottom: 300px;
    width: 80vw;
    position: absolute;
    top: 380px;
    z-index: 0;
    }