.header {
   display: flex;
   justify-content: space-between; 
}
.header-ttl {
    font: bold;

}
.header-nav-list {
    display: flex;
    justify-content: flex-end;
}
.list1 {
    list-style: none;
    padding-right: 30px;
}
.list2 {
    list-style: none;
    padding-right: 30px;
}
.list3 {
    list-style: none;
    padding-right: 30px;
}
.list4 {
    list-style: none;
}


.content {
    position: relative;
    top: 100px;

}
.content-ttl {
    position: absolute;
    top: 170px;
    font-size: 70px;

}
.content-img {
    width: 60%;
    position: absolute;
    top: -50px;
    left: 730px;
    z-index: 10;
}
.content-blue {
    background-color: blue;
    padding-bottom: 300px;
    width: 80%;
    position: absolute;
    top: 320px;
    z-index: 0;
}